{
  "trailingComma": "all",
  "tabWidth": 4,
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSameLine": true,
  "importOrder": [
    "^@lib/(.*)$",
    "^@consts/(.*)$",
    "^@models/(.*)$",
    "^@stores/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}