<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty
            name="spring.application.name"
            source="spring.application.name"/>

    <contextName>${spring.application.name}</contextName>

    <appender
            name="STDOUT"
            class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern><![CDATA[%d{HH:mm:ss.SSS} [%cn] [%thread] %-5level %logger{36} - %msg%n]]></pattern>
        </encoder>
    </appender>

    <appender
            name="STDERR"
            class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter
                class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern><![CDATA[%d{HH:mm:ss.SSS} [%cn] [%thread] %-5level %logger{36} - %msg%n]]></pattern>
        </encoder>
    </appender>

    <springProfile name="production">
        <appender
                name="LOGS"
                class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/${CONTEXT_NAME}.log</file>
            <rollingPolicy
                    class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>${LOG_PATH}/${CONTEXT_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- or whenever the file size reaches x -->
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>

                <!-- remove logs older than x days -->
                <maxHistory>30</maxHistory>

                <!-- remove logs when total size reaches x -->
                <totalSizeCap>50MB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern><![CDATA[%d [%thread] %-5level %logger{55} - %msg%n]]></pattern>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <springProfile name="production">
            <appender-ref ref="LOGS"/>
        </springProfile>
    </root>

</configuration>
